/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/* Background image for recipe tracker along with elements */
.recipebody {
  background-image: url("./images/recipewallpaper.jpg");
  background-size: 1700px 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Background image for wine pairing along with elements */
.winebody {
  background-image: url("./images/winewallpaper.jpg");
  background-size: 1600px 875px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Google font family */
.showrecipes,
.showwine {
  font-family: 'Nothing You Could Do', cursive;  
}

/* Recipes container for javascript api feed */
#recipes-container,
#wine-container {
  align-items: center;
  font-family: monospace;
  font-size: 20px;
}

/* Radius and padding on api images */
#recipes-container img {
  border-radius: 30px;
  padding: 10px;
}

#wine-container img {
  border-radius: 30px;
  padding: 10px;
}

/* Image hover elements */
img:hover {
  opacity: .90;
  transition: ease-out;
}